$tokens: (
  unit: rem,
  colors: ((
    type: base,
    color: #000,
    shades: (50)
  ), (
    type: highlight,
    color: #e84e0f,
    shades: (25, 50)
  )),
  fonts: ((
    type: main-text-regular,
    uri: '../fonts/rouna-regular-webfont',
    sizes: (12, 14, 16, 20, 24, 22, 28, 34, 42, 50)
  ), (
    type: main-text-bold,
    uri: '../fonts/rouna-bold-webfont',
    sizes: (12, 14, 16, 20, 24, 22, 28, 34, 42, 50)
  ), (
    type: menu-items,
    uri: '../fonts/rouna-bold-webfont',
    sizes: (120)
  ), (
    type: main-text-link,
    uri: '../fonts/rouna-bold-webfont',
    sizes: (16)
  )),
  headings: (
    type: heading,
    uri: '../fonts/rouna-bold-webfont',
    variant: ((
      h1: 90
    ), (
      h2: 58
    ), (
      h3: 42
    ), (
      h4: 32
    ), (
      h5: 24
    ), (
      h6: 22
    ))
  ),
  paddings: (
    size: ((
      xs: 0.5
    ), (
      s: 1
    ), (
      m: 2
    ), (
      l: 3
    ))
  ),
  margins: (
    sizes: ((
      xs: 0.5
    ), (
      s: 1
    ), (
      m: 2
    ), (
      l: 3
    ))
  ),
  boxShadows: (
    shades: ((
      default: 0 0 8px rgba(0, 0, 0, 0.304)
    ), (
      light:  0 0 8px rgba(0, 0, 0, 0.121)
    ))
  ),
  flex: (
    alignmentTypes: ((
      justify-content: space-between
    ), (
      align-items: center
    )),
    gapSizes: ((
      s: 0.5
    ), (
      m: 1
    ), (
      l: 2
    ))
  )
);
