.Icon {
  &[data-object-type="circle-icon"] {
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
  }

  &[data-object-type="item-count"] {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    left: 70%;
  }
}
