/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
ul {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/** FONTS **/
/*! main-text-regular */
@font-face {
  font-family: "main-text-regular";
  src: url("../fonts/rouna-regular-webfont.woff2") format("woff2"), url("../fonts/rouna-regular-webfont.woff") format("woff"), url("../fonts/rouna-regular-webfont.ttf") format("tff");
}
/*! main-text-bold */
@font-face {
  font-family: "main-text-bold";
  src: url("../fonts/rouna-bold-webfont.woff2") format("woff2"), url("../fonts/rouna-bold-webfont.woff") format("woff"), url("../fonts/rouna-bold-webfont.ttf") format("tff");
}
/*! menu-items */
@font-face {
  font-family: "menu-items";
  src: url("../fonts/rouna-bold-webfont.woff2") format("woff2"), url("../fonts/rouna-bold-webfont.woff") format("woff"), url("../fonts/rouna-bold-webfont.ttf") format("tff");
}
/*! main-text-link */
@font-face {
  font-family: "main-text-link";
  src: url("../fonts/rouna-bold-webfont.woff2") format("woff2"), url("../fonts/rouna-bold-webfont.woff") format("woff"), url("../fonts/rouna-bold-webfont.ttf") format("tff");
}
/*! heading */
@font-face {
  font-family: "heading";
  src: url("../fonts/rouna-bold-webfont.woff2") format("woff2"), url("../fonts/rouna-bold-webfont.woff") format("woff"), url("../fonts/rouna-bold-webfont.ttf") format("tff");
}
/** CUSTOM PROPERTIES **/
:root {
  /** COLOR **/
  /*! Background Color */
  /*! base */
  --bg-base: #000;
  --bg-base-light-50: gray;
  --bg-base-dark-50: black;
  /*! highlight */
  --bg-highlight: #e84e0f;
  --bg-highlight-light-25: #f7a280;
  --bg-highlight-light-50: #fffaf7;
  --bg-highlight-dark-25: #702607;
  --bg-highlight-dark-50: black;
  /*! Foreground Color */
  /*! base */
  --fg-base: #000;
  --fg-base-light-50: gray;
  --fg-base-dark-50: black;
  /*! highlight */
  --fg-highlight: #e84e0f;
  --fg-highlight-light-25: #f7a280;
  --fg-highlight-light-50: #fffaf7;
  --fg-highlight-dark-25: #702607;
  --fg-highlight-dark-50: black;
  /** FONT **/
  --main-text-regular: "main-text-regular";
  --main-text-bold: "main-text-bold";
  --menu-items: "menu-items";
  --main-text-link: "main-text-link";
  /** PADDING **/
  --padding-xs: 0.5em;
  --padding-s: 1.5em;
  --padding-m: 2em;
  --padding-l: 3em;
  /** MARGINS **/
  --margin-xs: 0.5rem;
  --margin-s: 1.5rem;
  --margin-m: 2rem;
  --margin-l: 3rem;
  /** BOX SHADOW **/
  --default-box-shadow: 0 0 8px rgba(0, 0, 0, 0.304);
  --light-box-shadow: 0 0 8px rgba(0, 0, 0, 0.121);
}

/** UTILITY: Colors **/
/*! Background Color */
/*! base */
.bg-base {
  background-color: var(--bg-base);
}

.bg-base-light-50 {
  background-color: var(--bg-base-light-50);
}

.bg-base-dark-50 {
  background-color: var(--bg-base-dark-50);
}

/*! highlight */
.bg-highlight {
  background-color: var(--bg-highlight);
}

.bg-highlight-light-25 {
  background-color: var(--bg-highlight-light-25);
}

.bg-highlight-light-50 {
  background-color: var(--bg-highlight-light-50);
}

.bg-highlight-dark-25 {
  background-color: var(--bg-highlight-dark-25);
}

.bg-highlight-dark-50 {
  background-color: var(--bg-highlight-dark-50);
}

/*! Foreground Color */
/*! base */
.fg-base {
  color: var(--fg-base);
}

.fg-base-light-50 {
  color: var(--fg-base-light-50);
}

.fg-base-dark-50 {
  color: var(--fg-base-dark-50);
}

/*! highlight */
.fg-highlight {
  color: var(--fg-highlight);
}

.fg-highlight-light-25 {
  color: var(--fg-highlight-light-25);
}

.fg-highlight-light-50 {
  color: var(--fg-highlight-light-50);
}

.fg-highlight-dark-25 {
  color: var(--fg-highlight-dark-25);
}

.fg-highlight-dark-50 {
  color: var(--fg-highlight-dark-50);
}

.main-text-regular-12 {
  font-family: var(--main-text-regular);
  font-size: 12px;
}

.main-text-regular-14 {
  font-family: var(--main-text-regular);
  font-size: 14px;
}

.main-text-regular-16 {
  font-family: var(--main-text-regular);
  font-size: 16px;
}

.main-text-regular-20 {
  font-family: var(--main-text-regular);
  font-size: 20px;
}

.main-text-regular-24 {
  font-family: var(--main-text-regular);
  font-size: 24px;
}

.main-text-regular-22 {
  font-family: var(--main-text-regular);
  font-size: 22px;
}

.main-text-regular-28 {
  font-family: var(--main-text-regular);
  font-size: 28px;
}

.main-text-regular-34 {
  font-family: var(--main-text-regular);
  font-size: 34px;
}

.main-text-regular-42 {
  font-family: var(--main-text-regular);
  font-size: 42px;
}

.main-text-regular-50 {
  font-family: var(--main-text-regular);
  font-size: 50px;
}

.main-text-bold-12 {
  font-family: var(--main-text-bold);
  font-size: 12px;
}

.main-text-bold-14 {
  font-family: var(--main-text-bold);
  font-size: 14px;
}

.main-text-bold-16 {
  font-family: var(--main-text-bold);
  font-size: 16px;
}

.main-text-bold-20 {
  font-family: var(--main-text-bold);
  font-size: 20px;
}

.main-text-bold-24 {
  font-family: var(--main-text-bold);
  font-size: 24px;
}

.main-text-bold-22 {
  font-family: var(--main-text-bold);
  font-size: 22px;
}

.main-text-bold-28 {
  font-family: var(--main-text-bold);
  font-size: 28px;
}

.main-text-bold-34 {
  font-family: var(--main-text-bold);
  font-size: 34px;
}

.main-text-bold-42 {
  font-family: var(--main-text-bold);
  font-size: 42px;
}

.main-text-bold-50 {
  font-family: var(--main-text-bold);
  font-size: 50px;
}

.menu-items-120 {
  font-family: var(--menu-items);
  font-size: 120px;
}

.main-text-link-16 {
  font-family: var(--main-text-link);
  font-size: 16px;
}

/*! paddings */
.padding-xs {
  padding: var(--padding-xs);
}

.padding-inline-xs {
  padding-inline: var(--padding-xs);
}

.padding-block-xs {
  padding-block: var(--padding-xs);
}

.padding-s {
  padding: var(--padding-s);
}

.padding-inline-s {
  padding-inline: var(--padding-s);
}

.padding-block-s {
  padding-block: var(--padding-s);
}

.padding-m {
  padding: var(--padding-m);
}

.padding-inline-m {
  padding-inline: var(--padding-m);
}

.padding-block-m {
  padding-block: var(--padding-m);
}

.padding-l {
  padding: var(--padding-l);
}

.padding-inline-l {
  padding-inline: var(--padding-l);
}

.padding-block-l {
  padding-block: var(--padding-l);
}

/*! margins */
.margin-xs {
  margin: var(--margin-xs);
}

.margin-inline-xs {
  margin-inline: var(--margin-xs);
}

.margin-block-xs {
  margin-block: var(--margin-xs);
}

.margin-s {
  margin: var(--margin-s);
}

.margin-inline-s {
  margin-inline: var(--margin-s);
}

.margin-block-s {
  margin-block: var(--margin-s);
}

.margin-m {
  margin: var(--margin-m);
}

.margin-inline-m {
  margin-inline: var(--margin-m);
}

.margin-block-m {
  margin-block: var(--margin-m);
}

.margin-l {
  margin: var(--margin-l);
}

.margin-inline-l {
  margin-inline: var(--margin-l);
}

.margin-block-l {
  margin-block: var(--margin-l);
}

/*! box shadows */
.default-box-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.304);
}

.light-box-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.121);
}

/** FLEXBOX **/
.flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.gap-s {
  gap: 0.5rem;
}

.gap-m {
  gap: 1rem;
}

.gap-l {
  gap: 2rem;
}

.text-align-right {
  text-align: right;
}

.line-height-1 {
  line-height: 1;
}

.section-container {
  padding: 4rem 6rem;
}

@media (max-width: 420px) {
  .section-container {
    padding: 4rem 2.5rem;
  }
}
@media (min-width: 420px) and (max-width: 678px) {
  .section-container {
    padding: 4rem 4rem;
  }
}
.h1 {
  font-family: "heading";
  font-size: 5.625rem;
}

.h2 {
  font-family: "heading";
  font-size: 3.625rem;
}

.h3 {
  font-family: "heading";
  font-size: 2.625rem;
}

.h4 {
  font-family: "heading";
  font-size: 2rem;
}

.h5 {
  font-family: "heading";
  font-size: 1.5rem;
}

.h6 {
  font-family: "heading";
  font-size: 1.375rem;
}

/*! Atoms */
.Label[data-object-type=hover-label] {
  opacity: 0;
}

.Logo .small {
  height: 1.2rem;
}
.Logo .medium {
  height: 2.4rem;
}
.Logo .large {
  height: 4rem;
}
.Logo .extra-large {
  height: 6rem;
}

.Price {
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;
}
.Price .price-text {
  display: inline-block;
  padding-block: 44%;
  margin-inline: 4px;
}
.Price .cents {
  position: relative;
  top: -8px;
}
.Price[data-object-type=align-right] {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
}
.Price[data-object-type=align-left] {
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
}

.Icon[data-object-type=circle-icon] {
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;
  align-self: center;
}
.Icon[data-object-type=item-count] {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: -5%;
  left: 70%;
}

.Button {
  border-radius: 50px;
  border: none;
  padding: 0.8rem 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out; /* Firefox 4 */
  -webkit-transition: transform 300ms ease-in-out; /* Safari and Chrome */
  -o-transition: transform 300ms ease-in-out; /* Opera */
}
.Button:hover {
  background-color: var(--bg-highlight-light-50);
  color: var(--fg-highlight);
}

.Image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Image[data-object-type=rounded] {
  border-radius: 15px;
}
.Image.small {
  max-height: 160px;
  max-width: 140px;
}

.LogoIcon.small {
  width: 3.5rem;
}
.LogoIcon.medium {
  width: 5rem;
}
.LogoIcon.large {
  width: 7rem;
}

.Input {
  border-radius: 50px;
  border: none;
  padding: 0.7rem 2rem;
}
.Input::-moz-placeholder {
  opacity: 0.2;
}
.Input:-ms-input-placeholder {
  opacity: 0.2;
}
.Input::placeholder {
  opacity: 0.2;
}

.HamburgerMenu .bar1,
.HamburgerMenu .bar2,
.HamburgerMenu .bar3 {
  height: 5px;
  margin: 11px 0;
  border-radius: 5px;
}
.HamburgerMenu .bar1 {
  width: 25px;
}
.HamburgerMenu .bar2 {
  width: 50px;
}
.HamburgerMenu .bar3 {
  width: 35px;
}
.HamburgerMenu[data-object-type=menu-open] .bar1,
.HamburgerMenu[data-object-type=menu-open] .bar3 {
  width: 50px;
}
.HamburgerMenu[data-object-type=menu-open] .bar2 {
  background-color: transparent;
}
.HamburgerMenu[data-object-type=menu-open] .bar1 {
  transform: rotate(45deg) translate3d(6px, 16px, 0);
}
.HamburgerMenu[data-object-type=menu-open] .bar3 {
  transform: rotate(-45deg) translate3d(6px, -16px, 0);
}

/*! Molecules */
.NavigationBar {
  gap: 3rem;
}
.NavigationBar [data-object-type=shoppingcart-icon] {
  position: relative;
}

.Card {
  position: relative;
  display: grid;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.Card .ellipsis-container {
  white-space: nowrap;
  overflow: hidden;
}
.Card .long-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.Card [data-object-type=hover-container] {
  line-height: 0px;
  cursor: pointer;
}
.Card [data-object-type=hover-container] .hover-right,
.Card [data-object-type=hover-container] [data-object-type=hover-label] {
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out; /* Firefox 4 */
  -webkit-transition: all 300ms ease-in-out; /* Safari and Chrome */
  -o-transition: all 300ms ease-in-out; /* Opera */
}
.Card [data-object-type=hover-container] .hover-right {
  padding-right: 0.5rem;
}
.Card [data-object-type=hover-container]:hover [data-object-type=hover-label] {
  opacity: 1;
}
.Card [data-object-type=hover-container]:hover .hover-right {
  transform: translateX(0.4rem);
}

.SearchBar {
  display: flex;
  justify-content: center;
}
.SearchBar form {
  position: relative;
}
.SearchBar button {
  position: absolute;
  top: 0;
  right: 0.2rem;
  background-color: transparent;
  border: none;
  height: 100%;
}
@media (max-width: 420px) {
  .SearchBar form .Input {
    font-size: 16px;
  }
  .SearchBar button .LogoIcon {
    width: 2rem;
  }
}
@media (min-width: 420px) and (max-width: 650px) {
  .SearchBar form .Input {
    font-size: 24px;
  }
  .SearchBar button .LogoIcon {
    width: 2.5rem;
  }
}
@media (min-width: 650px) and (max-width: 800px) {
  .SearchBar form .Input {
    font-size: 34px;
  }
  .SearchBar button .LogoIcon {
    width: 3.5rem;
  }
}

.Item {
  border-bottom: solid 2px var(--fg-highlight-dark-50);
}
.Item .Icon {
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out; /* Firefox 4 */
  -webkit-transition: all 300ms ease-in-out; /* Safari and Chrome */
  -o-transition: all 300ms ease-in-out; /* Opera */
  cursor: pointer;
}
.Item .Icon:hover {
  background-color: var(--bg-highlight-dark-50);
  color: var(--fg-highlight-light-50);
}
.Item .ellipsis-container {
  margin-inline: 1rem;
  overflow: hidden;
}
.Item .long-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CallToAction {
  gap: 1.2rem;
  border-radius: 50px;
  display: inline-flex;
  padding-left: 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out; /* Firefox 4 */
  -webkit-transition: all 300ms ease-in-out; /* Safari and Chrome */
  -o-transition: all 300ms ease-in-out;
}
.CallToAction[data-object-type=no-label] .Label {
  display: none;
}
.CallToAction .Icon {
  transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out; /* Firefox 4 */
  -webkit-transition: transform 300ms ease-in-out; /* Safari and Chrome */
  -o-transition: transform 300ms ease-in-out; /* Opera */
}
.CallToAction:hover {
  background-color: var(--bg-highlight);
}
.CallToAction:hover .Label,
.CallToAction:hover [data-object-type=default-icon] {
  color: var(--fg-highlight-light-50);
}
.CallToAction:hover [data-object-type=circle-icon] {
  color: var(--fg-highlight);
  background-color: var(--bg-highlight-light-50);
}
.CallToAction:hover .hover-right {
  transform: translateX(0.9rem);
}

.FooterColumn[data-object-type=text] {
  display: grid;
  grid-template-rows: 2rem 1fr;
}
.FooterColumn[data-object-type=text] .heading {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.FooterColumn[data-object-type=text] .heading .Label {
  margin-bottom: 0;
}
.FooterColumn[data-object-type=images] {
  gap: 0.5rem;
}
.FooterColumn li {
  height: 2rem;
  gap: 1rem;
}

.DetailInfo {
  overflow: hidden;
}
.DetailInfo .Label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DetailImage {
  position: relative;
}
.DetailImage[data-object-type=album-display] .record {
  position: absolute;
  top: 0;
  right: -20%;
  height: 100%;
}

.HeroTextContent .Label.h3 {
  line-height: 1;
}
.HeroTextContent .Button {
  align-self: center;
}

.PopoutMenu {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: -200%;
  left: 0;
  background-color: white;
  transition: transform 400ms ease-in-out;
  -moz-transition: transform 400ms ease-in-out; /* Firefox 4 */
  -webkit-transition: transform 400ms ease-in-out; /* Safari and Chrome */
  -o-transition: transform 400ms ease-in-out; /* Opera */
}
.PopoutMenu[data-object-type=isActive] {
  transform: translateY(200%);
}
.PopoutMenu [data-object-type=shoppingcart-icon] {
  position: relative;
}
.PopoutMenu ul {
  max-width: 700px;
  margin: 4rem auto;
}
.PopoutMenu ul li .nav-item {
  width: 100%;
  border-bottom: solid 2px var(--fg-highlight-dark-50);
}
.PopoutMenu ul li .Icon {
  margin-bottom: -1rem;
  opacity: 0;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out; /* Firefox 4 */
  -webkit-transition: all 300ms ease-in-out; /* Safari and Chrome */
  -o-transition: all 300ms ease-in-out; /* Opera */
}
.PopoutMenu ul li a {
  text-decoration: none;
}
.PopoutMenu ul li a:hover {
  color: var(--fg-highlight-dark-50);
}
.PopoutMenu ul li:hover .Icon {
  opacity: 1;
}

@media (max-width: 420px) {
  .PopoutMenu ul {
    max-width: 90%;
  }
}
@media (min-width: 420px) and (max-width: 768px) {
  .PopoutMenu ul {
    max-width: 70%;
  }
}
@media (max-width: 768px) {
  .PopoutMenu li {
    font-size: 48px;
  }
  .PopoutMenu li .Icon {
    font-size: 24px;
  }
  .PopoutMenu li a {
    font-size: 34px;
  }
}
.Pagination ul {
  text-align: center;
  padding-bottom: 2rem;
}
.Pagination li {
  display: inline;
  padding: 0.2rem;
  cursor: pointer;
}
.Pagination a {
  color: var(--fg-base-light-50);
  text-decoration: none;
}

/*! Organisms */
.CardGrid {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
@media (max-width: 668px) {
  .CardGrid {
    grid-template-columns: minmax(0, 1fr);
  }
  .CardGrid .Card {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 668px) and (max-width: 1024px) {
  .CardGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .CardGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.Footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Footer .FooterColumn[data-object-type=images] {
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .Footer {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .Footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1024px) {
  .Footer {
    grid-gap: 3rem;
  }
  .Footer .FooterColumn[data-object-type=images] {
    justify-content: flex-start;
  }
}

.Hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.Hero .section-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 3rem;
}
.Hero .section-container .DetailImage-container {
  margin: 0 auto;
}
.Hero .section-container .DetailImage {
  max-width: 350px;
}
.Hero .section-container .Price {
  z-index: 3;
}
.Hero .section-container .Image {
  position: relative;
  z-index: 2;
}
.Hero .section-container .Record {
  z-index: 1;
}
@media (max-width: 768px) {
  .Hero .album-text-container .DetailImage {
    display: none;
  }
}
@media (max-width: 800px) {
  .Hero .section-container {
    grid-template-columns: 1fr;
  }
  .Hero .DetailImage-container {
    max-width: 80%;
  }
}
@media (min-width: 1201px) {
  .Hero .inner-section {
    max-width: 80%;
  }
}

.Navigation .HamburgerMenu,
.Navigation .Icon {
  cursor: pointer;
}
@media (max-width: 480px) {
  .Navigation .NavigationBar .Logo {
    display: none;
  }
}

.ShoppingCart {
  max-width: 800px;
  margin: 0 auto;
  min-height: 800px;
  margin-bottom: 10rem;
}
.ShoppingCart .CallToAction-container {
  display: flex;
  justify-content: flex-end;
}
.DetailSection {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  margin: 0 auto;
}
.DetailSection .DetailInfo-container {
  padding-block: 1.5rem;
  display: grid;
  align-content: space-between;
}
.DetailSection .CallToAction-container {
  display: grid;
  margin-top: 1rem;
  justify-content: flex-end;
}

@media (max-width: 1020px) {
  .DetailSection {
    grid-template-columns: 1fr;
  }
  .DetailSection .DetailImage {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */