.DetailSection {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  max-width: 1000px;

  margin: 2rem auto;

  .DetailInfo-container {
    padding-block: 1.5rem;
    display: grid;
    align-content: space-between;
  }
  .CallToAction-container {
    display: grid;
    margin-top: 1rem;
    justify-content: flex-end;
    text-decoration: none;
  }

  .responsive-s-container {
    display: none;
  }
}

@media (max-width: 550px) {
  .DetailSection {
    max-width: 600px;
    grid-template-columns: 1fr;

    .DetailImage {
      margin: 0;
    }
  }
}

@media (min-width: 550px) and(max-width: 1200px) {
  .DetailSection {
    grid-template-columns: 1fr 2fr;
    max-width: 700px;
    .responsive-s-container {
      display: block;
      grid-column: span 2;
    }
    .DetailInfo .h3 {
      font-size: 34px;
    }
    .DetailInfo p,
    .DetailInfo-container .CallToAction-container {
      display: none;
    }
  }
}
