.Card {
  position: relative;
  display: grid;
  line-height: 1.2;
  margin-bottom: 2rem;

  .ellipsis-container {
    white-space: nowrap;
    overflow: hidden;
  }
  .long-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  [data-object-type="hover-container"] {
    line-height: 0px;
    cursor: pointer;
    .hover-right,
    [data-object-type="hover-label"] {
      transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out; /* Firefox 4 */
      -webkit-transition: all 300ms ease-in-out; /* Safari and Chrome */
      -o-transition: all 300ms ease-in-out; /* Opera */
    }
    .hover-right {
      padding-right: 0.5rem;
    }
    &:hover {
      [data-object-type="hover-label"] {
        opacity: 1;
      }

      .hover-right {
        transform: translateX(0.4rem);
      }
    }
  }
}
