.Hero {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .section-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 3rem;

    .DetailImage-container {
      margin: 0 auto;
    }
    .DetailImage {
      max-width: 350px;
    }

    .Price {
      z-index: 3;
    }
    .Image {
      position: relative;
      z-index: 2;
    }
    .Record {
      z-index: 1;
    }
  }

  // S - Tablet
  @media (max-width: 768px) {
    .album-text-container .DetailImage {
      display: none;
    }
  }

  // M - Tablet/Laptop
  @media (max-width: 800px) {
    .section-container {
      grid-template-columns: 1fr;
    }

    .DetailImage-container {
      max-width: 80%;
    }
  }

  // L - High Res
  @media (max-width: 1200px) {
  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {
    .inner-section {
      max-width: 80%;
    }
  }
}
