.CallToAction {
  gap: 1.2rem;
  border-radius: 50px;
  display: inline-flex;
  padding-left: 0;
  cursor: pointer;

  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out; /* Firefox 4 */
  -webkit-transition: all 300ms ease-in-out; /* Safari and Chrome */
  -o-transition: all 300ms ease-in-out;

  &[data-object-type="no-label"] {
    .Label {
      display: none;
    }
  }
  .Icon {
    transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out; /* Firefox 4 */
    -webkit-transition: transform 300ms ease-in-out; /* Safari and Chrome */
    -o-transition: transform 300ms ease-in-out; /* Opera */
  }

  &:hover {
    background-color: var(--bg-highlight);

    .Label,
    [data-object-type="default-icon"] {
      color: var(--fg-highlight-light-50);
    }

    [data-object-type="circle-icon"] {
      color: var(--fg-highlight);
      background-color: var(--bg-highlight-light-50);
    }

    .hover-right {
      transform: translateX(0.9rem);
    }
  }
}
