.CallToAction {
  gap: 0.8rem;
  border-radius: 50px;
  display: inline-flex;

  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out; /* Firefox 4 */
  -webkit-transition: all 300ms ease-in-out; /* Safari and Chrome */
  -o-transition: all 300ms ease-in-out;

  &:hover {
    background-color: var(--bg-highlight);

    [data-object-type="default-icon"],
    [data-object-type="circle-icon"] {
      transition: transform 300ms ease-in-out;
      -moz-transition: transform 300ms ease-in-out; /* Firefox 4 */
      -webkit-transition: transform 300ms ease-in-out; /* Safari and Chrome */
      -o-transition: transform 300ms ease-in-out; /* Opera */
    }

    .Label,
    [data-object-type="default-icon"] {
      color: var(--fg-highlight-light-50);
    }

    [data-object-type="circle-icon"] {
      color: var(--fg-highlight);
      background-color: var(--bg-highlight-light-50);
    }

    .hover-right {
      transform: translateX(0.7rem);
    }
  }
}
