.Price {
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;

  .price-text {
    display: inline-block;
    padding-block: 44%;
    margin-inline: 4px;
  }

  .cents {
    position: relative;
    top: -8px;
  }

  &[data-object-type="align-right"] {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
  }

  &[data-object-type="align-left"] {
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
  }
}
