.FooterColumn {
  &[data-object-type="text"] {
    display: grid;
    grid-template-rows: 2rem 1fr;

    .heading {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      .Label {
        margin-bottom: 0;
      }
    }
  }

  &[data-object-type="images"] {
    gap: 0.5rem;
  }

  li {
    height: 2rem;
    gap: 1rem;
  }
}
