.DetailImage {
  position: relative;
  max-width: 350px;
  &[data-object-type="album-display"] {
    .record {
      position: absolute;
      top: 0;
      right: -20%;
      height: 100%;
    }
  }
}
