/*! paddings */

@each $size in map-get($paddings, "size") {
  @each $key, $value in $size {
    .padding-#{$key} {
      padding: var(#{"--padding-" + $key});
    }

    .padding-inline-#{$key} {
      padding-inline: var(#{"--padding-" + $key});
    }

    .padding-block-#{$key} {
      padding-block: var(#{"--padding-" + $key});
    }
  }
}
